[2021-08-09 05:18] rchrdnsh opened #1 "Sveltekit support?"
Apologies if you mentioned it and I missed it, but is sveltekit support included? And if not, does anything need to be altered in any way?

Thanks :-)

[2021-08-09 05:45] rchrdnsh opened #2 "New beta Stripe elements…"
Dunno if you know or not, but stripe recently announced new stripe elements that are currently in beta:

https://stripe.com/docs/payments/payment-element

Apologies if you already knew :-)

[2021-08-09 07:37] #1 closed

[2021-08-09 07:38] joshnuss commented on #1
Hi @rchrdnsh!

Thanks for reporting, it should now work with svelte-kit. I'm added notes to the readme here:
https://github.com/joshnuss/svelte-stripe-js/#svelte-kit

[2021-08-09 08:14] rotimi-best opened #3 "Add Demo to README"
Maybe it would be a good idea to add a demo to the README, in order for everyone to know what how it would look once they add this library to their application

[2021-08-09 08:28] joshnuss commented on #3
:100:

I plan to create a demo site, with the following demos:

- One time payment
- Subscription payment
- Payment request button (ApplePay/GPay)
- SEPA direct deposit
- iDEAL

Hopefully over the next week or so :crossed_fingers:

[2021-08-09 08:30] joshnuss commented on #2
Thanks for sharing @rchrdnsh! Did not know about this.

I signed up for the beta

 I imagine it could be just another component, ie `<PaymentElement {options}/>` just like their React example.

[2021-08-09 09:13] rotimi-best commented on #3
Great, thank you.

[2021-08-09 09:20] rotimi-best commented on #3
I think I should reopen it, and we can consider it closed once the Demo has been added. Thank you

[2021-08-09 19:24] rchrdnsh commented on #1
Right on, thanks :-)

[2021-08-09 19:25] rchrdnsh commented on #2
I believe it was mentioned somewhere that there are plans to alter and/or update and/or expand elements, but I'm sure they'll fill you in more when you hop into the beta :-)

[2021-08-09 19:59] rchrdnsh opened #4 "getting an ESM error when trying to use the library..."
getting the following error in the terminal when trying to use the library:

[code]

...dunno if there is something that I need to do differently, as I have really only copied and pasted your code example so far...

I'm on the latest version of sveltekit, which at this moment is 144...

[2021-08-09 22:06] joshnuss commented on #4
Hey @rchrdnsh,

Did you configure `noExternals` in `vite.config.js`? It's the second code listing here: https://github.com/joshnuss/svelte-stripe-js/#svelte-kit

[2021-08-09 22:38] rchrdnsh commented on #4
hmmm...I copied and pasted it from your example earlier, and I notice now that `noexternal` is what was there, but it's now fixed to be `noExternal`, which gets rid of the error. Thanks for the quick fix and quick help! :-)

[2021-08-09 22:38] rchrdnsh commented on #4
I will close this now :-)

[2021-08-09 22:38] #4 closed

[2021-08-09 22:50] joshnuss commented on #4
Awesome, glad it's fixed.

Let me know if you bump into anything else,

[2021-08-10 22:51] rchrdnsh opened #5 "getting a few errors trying to implement the lib..."
here is the code I'm running in the `<script>` tag:

[code]

...and I'm getting the following errors in the console:

[code]

[2021-08-10 22:57] joshnuss commented on #5
Hey @rchrdnsh,

Did you include the script from Stripe's CDN?

[code]

[2021-08-10 23:03] #5 closed

[2021-08-10 23:06] joshnuss commented on #5
No problem! Glad it fixed it :) This issues are super helpful in making the docs better.

I'm gonna update the README, the `<script/>` should be placed in `app.html` in the `<head>` section before `%svelte.head%`

Best,
Josh

[2021-08-10 23:11] rchrdnsh commented on #5
sweet :-) Dunno if app.html is the best place, tho...dunno if it's is, either 🤷‍♂️

[2021-08-10 23:16] joshnuss commented on #5
An alternative approach: if you only want to load stripe.js on certain pages

You can put it in a `<svelte:head>` tag in your layout. ie:

[code]

[2021-08-10 23:26] rchrdnsh opened #6 "ENV VAR's for stripe keys..."
So, in the docs the examples show the test key in the `.svelte` file, but this does not seem to be the best idea, no?

I would assume they should be in ENV VAR's on the server and fed into the component...just don't quite know how to do that myself...and putting it into the component file itself means that it will be seen by github, which does not seem like a good idea, I think.

So this isn't an

[2021-08-10 23:38] joshnuss commented on #6
Good points.

It should come from the environment variables. But the key that starts with `pk_`  means "public key", so it's allowed to be shared with the client/browser. Where as secret keys that start with `sk_`, should only be used on the server side in a trusted environment.

With vite, shareable (public) environment vars start with `VITE_`, so you can create a a file `.env`:

[code]

Then whe

[2021-08-10 23:45] #6 closed

[2021-08-10 23:48] joshnuss commented on #6
I updated the README,

Let me know if you run into anything! I hope to create an example site at some point.

[2021-08-11 17:26] rchrdnsh opened #7 "Need to add a style object...unclear how..."
I need to style the elements, something along these lines...

[code]

but I'm unclear as to how to do that in this library.

One does something like this usually:

[code]
...but unclear as to how to do this using the library :-)

[2021-08-11 17:39] joshnuss commented on #7
Hey @rchrdnsh,

All components take `style` and `classes` attributes, they follow the same structure outlined in stripe's docs.

So you can do:

[code]

Hopefully I will have some time over the next few weeks to put together a documentation site with some styled examples.

[2021-08-11 18:02] rchrdnsh commented on #7
yay, that worked just fine for me, thanks :-)

[2021-08-11 18:02] #7 closed

[2021-08-12 18:20] didier opened #8 "Failed to resolve entry for package (SvelteKit / Vite)"
Hey, I just tried to start a fresh SvelteKit project with this package. Upon running, I encountered the following error using your example code:

[code]

[2021-08-12 18:59] joshnuss commented on #8
Hey @didier,

Good catch. I think I ran `npm publish` which sent the entire svelte-kit app to npm, when I meant to run `npm run publish`, which only sends the `package/` folder. doh.

It should be fixed now, can you bump the version you are using to `0.0.8`?

[2021-08-12 19:09] didier commented on #8
Ha—happens to the best of us. That did fix the issue, however, I'm getting ES Module errors now. Not doing any `require()`s myself.
[code]

[2021-08-12 19:26] joshnuss commented on #8
Have you added `svelte-stripe-js` to `noExternals` in `svelte.config.js`?
https://github.com/joshnuss/svelte-stripe-js#svelte-kit

[2021-08-12 19:29] didier commented on #8
Oh, oops. Missed that 🤦‍♂️. Works like a charm now!

[2021-08-12 19:34] joshnuss commented on #8
:raised_hands: awesome!

LMK if you bump into anything else.

[2021-08-12 19:34] #8 closed

[2021-08-12 19:42] joshnuss commented on #8
Also, I've [updated the README](4ea8171b55642a85b62063cc7f41e4157ce4f03a) to move info about svelte-kit higher, since it's probably what most people want to use.

[2021-08-12 21:01] rchrdnsh opened #9 "dumb question??? How do i make the button 'submit'"
Sorry if this is a dumb question but I'm not sure how to hook up the pay button to actually submit the form...I assume this is not stripe elements specific, but is there anything I would need to do here beyond adding `type='submit'` to the submit button to make it work with stripe elements?

[2021-08-13 00:42] joshnuss commented on #9
I believe you just have handle the form's `on:submit` event. It should work like a regular form.

Have you tried the example from the readme?

[2021-08-13 01:08] rchrdnsh commented on #9
kinda...nothing happens yet, tho, for me...the button does not work...but not sure what else is needed beyond what is in your example...

[2021-08-13 01:26] joshnuss commented on #9
So you're saying the `submit()` isn't called? Or it's called but the payment isn't made?

[2021-08-13 01:53] rchrdnsh commented on #9
I don't think so, no...not sure how to test it, tho...new to js and using the console to test things...but when I click the submit button nothing happens.

[2021-08-13 01:56] joshnuss commented on #9
No worries, we'll figure it out.

Can you share some code?
Can you remove the stripe components and see if the form still doesn't submit?

[2021-08-13 02:28] rchrdnsh commented on #9
but, of course :-)

Here is the script code:

[code]

...and the form...it's a bit long:

[code]

...and I tried removing the stripe elements and still nothing seems to be happening...not sure how to test if that is really the case, however...

[2021-08-13 02:46] rchrdnsh commented on #9
aha!

totally messes up the design, but that's prolly ok...can make that work i think...

now I'm getting somewhere...

Now I'm getting an error in the console on submit:

[code]

[2021-08-13 02:51] joshnuss commented on #9
Or you can keep the button outside the form, just specify a `form` attribute on the `<button>`, see: https://til.hashrocket.com/posts/v2s2gxgifj-submit-a-form-with-a-button-outside-the-form

For the error, that might be a bug. To verify, instead of passing `cardElement` to `createToken()`, try getting the element manually with `stripe.elements().getElement('cardNumber')`

[2021-08-13 02:52] joshnuss commented on #9
Also, try console.log'ing the cardElement, is it null?

[2021-08-13 04:04] rchrdnsh commented on #9
cardElement comes back `undefined`

also, not sure how to get the cardNumber...was doing this:

[code]

...but that does not work and I get the same error. Apologies, a bit out of my knowledge...

[2021-08-13 06:07] joshnuss commented on #9
Are you on the latest version `0.0.8`?
I adjusted how this works in e5ea5452, so it's possible you are on a version from before that commit.

[2021-08-13 06:34] joshnuss commented on #9
Also, the submit function should be adjusted to use payment intents.

The payment intent should be created server-side, using the secret key, ie:

[code]

Now we have to change the submit handler to first create the payment intent: (rough idea, writing this from memory)

[code]

[2021-08-13 07:20] rchrdnsh commented on #9
aha, I was on 0.0.5...thought I updated earlier today, but must have missed it...

hmmm...it will take me a minute to work through this code and understand all of it, but thank you for the clarification. I received too much help on my gatsby implementation in the past and have had a tough time wrapping my head around what was going on in there...

...will your example work with netlify or will it

[2021-08-14 02:10] joshnuss commented on #9
Cool, glad we figured that out.

It will definitely work with netlify, that is what's the great thing about svelte kit adapters, it will turn all endpoints into cloud functions.

Since it's fixed, I'll close this issue. Feel free to open issues if you run into anything else.

[2021-08-14 02:10] #9 closed

[2021-08-14 21:38] sirugh opened #10 "using your example I don't have any input fields"
Code copied directly from your checkout example, I have no inputs. Am I doing something wrong? Apologies if this is obvious, I'm new to svelte :)

[![Image from Gyazo](https://i.gyazo.com/54c1bc751f1cef1e0f53dea0c285046a.png)](https://gyazo.com/54c1bc751f1cef1e0f53dea0c285046a)

[code]

[2021-08-14 21:46] sirugh commented on #10
My bad - looks like they're just transparent/unstyled?

[2021-08-14 21:46] #10 closed

[2021-08-15 00:15] joshnuss commented on #10
Looks like you figured it out.

I think you're seeing no fields because stripe.js hasn't run, ie when rendering with SSR

[2021-08-16 00:44] rchrdnsh commented on #9
yes, thank you...still wrapping my head around how kit adapts netlify functions and if that is a good idea...like, do different functions get turned into one function? Will this impact my financially if functions get run when they shouldn't eating into my allotment, stuff like that...these are questions for the discord, however :-)

[2021-09-01 22:23] WeAreELIC opened #11 "Alipay and WeChat Payment Types"
I would love to see Alipay and WeChat payment types supported so our China customers can easily pay. Thanks!

[2021-09-03 21:41] joshnuss commented on #11
Hi @WeAreELIC,

I'm not too familiar with WeChat and AliPay, but I believe a custom Svelte component isn't needed for these because the payment is completed with a redirect, so any button will do.

From reading the docs, the flow works like this:

1. Add a button "Pay with WeChat" or "Pay with AliPay"
2. When the button is clicked, `POST` to server to create the `PaymentIntent` (using `payment_met

[2021-09-07 02:28] Bandit opened #12 "Why not use the Stripe.js ES module?"
I only use Stripe related elements on certain pages of my site, so including StripeJS everywhere seems bad. I saw that Stripe lets you load it as an ES module, and using the `loadStripe` function you can choose when to actually load it. Does this method not work in Sveltekit?

https://github.com/stripe/stripe-js

[2021-09-07 04:31] #11 closed

[2021-09-07 04:36] joshnuss commented on #12
Hi @Bandit,

In the readme for stripe/stripe-js it says the script mist be loaded with a script tags to be PCI compliant

But you can have a separate layout for your checkout pages and include the script using `<svelte:head>` instead of setting it globally in `app.html`

[2021-09-07 04:40] Bandit commented on #12
Yeah I read that part - but then the `loadStripe` function mentions injecting the script tag?

[2021-09-07 07:10] joshnuss commented on #12
You're totally right. I'm going to update the README examples to use `await loadStripe()`.

The only hitch is it requires initializing stripe in the `onMount()`, since `loadStripe()` is async.

Thanks for pointing this out :+1:

[2021-09-07 07:12] #12 closed

[2021-09-07 08:04] Bandit commented on #12
Not possible to pass the Stripe key to `<Container>` and have it boilerplate the `onMount` and `loadStripe` etc?

[2021-09-07 18:16] joshnuss commented on #12
It's possible, but how would user code get access to `stripe`?  It's still up to the user to interface with stripe (ie`stripe.confirmCardPayment()`, et al). If the `<Container>` initializes the `Stripe` instance, it would need to share it somehow. Not sure if that makes it simpler.

[2021-09-07 19:40] Bandit commented on #12
I haven't spent much time thinking about it, but why not something like

`<Container bind:stripe>`

As a two-way binding, where `Container` overrides the `stripe` variable `onMount`?

Another option would be `setContext` from the `Container` and `getContext` from consuming child components (which is better in terms of not having to pass the same `stripe` variable all the way down the chain if you

[2021-09-07 19:56] joshnuss commented on #12
Yeah, I considered `bind:stripe`, but feels odd that the container owns the `stripe` instance, I rather the client own that. This is just a UI libary, so not sure if it should be responsible for that.

The problem with with `setContext` is that it must be called in the root of the component (outside `onMount()`). But `loadStripe()` is async and can only be called from within an `async` method.  I

[2021-09-07 20:00] Bandit commented on #12
Yeah this is how you do it. I do this with my Firebase user sessions (which are loaded from an async callback)

[2021-09-07 20:04] joshnuss commented on #12
At this stage I prefer to support one approach only, otherwise I have to explain that in the docs. It just adds complexity imo.

I rather the user own the stripe instance and pass it in.

If I have time down the road, I'll look at adding stores to context, or if you need it sooner, feel free to open a PR.

[2021-10-13 18:19] LucasRitossa opened #13 "npm run build fails after adding css to svelte file"
This error is produced
`[rollup-plugin-dynamic-import-variables] Unexpected token (10:400)`
`file: /Users/user/project/stripe/src/routes/index.svelte:10:400`

index.svelte -
[code]

[2021-10-15 19:26] LucasRitossa commented on #13
Solved using https://github.com/joshnuss/svelte-stripe-js/issues/7, maybe style info should be in readme

[2021-10-15 19:26] #13 closed

[2021-12-02 17:21] rchrdnsh commented on #2
Looks like the new payment element is out now :-)

`https://stripe.com/docs/payments/payment-element`

[2021-12-02 19:34] joshnuss commented on #2
Yes, heard it was out of Beta. Will have to add it 🙂

On Thu., Dec. 2, 2021, 12:21 p.m. rchrdnsh, ***@***.***>
wrote:

[2021-12-04 02:19] joshnuss commented on #3
Hi,

First version of the docs site is live here:
https://svelte-stripe-js.vercel.app

Closing for now, but feel free to open issues & PRs about specific docs issues.

[2021-12-04 02:19] #3 closed

[2021-12-04 19:28] #2 closed

[2021-12-04 19:30] joshnuss commented on #2
@rchrdnsh thanks for making me aware of this one!

Docs: https://svelte-stripe-js.vercel.app/#payment-element
Demo: https://svelte-stripe-js.vercel.app/examples/payment-element
Code example: https://github.com/joshnuss/svelte-stripe-js/blob/6291a5adbf8fba675b5f0a67d1cfe717f59b76ae/src/routes/examples/payment-element/index.svelte#L74

[2021-12-04 19:31] rchrdnsh commented on #2
woo hoo! thank yooooooo :-)

[2021-12-07 20:40] rchrdnsh opened #15 "How to get Apple/Google Pay to show up in the payment options in the new payment element..."
Hi Josh! XD

I noticed in the new stripe payment element that they have multiple payment options available to choose from on top:

<img width="1130" alt="Screen Shot 2021-12-07 at 12 37 56 PM" src="https://user-images.githubusercontent.com/7884263/145102806-01c398a6-999a-480f-a72b-1c181db6c3e3.png">

...but your demo page does not seem have that working ATM...just curious how that might be set up

[2021-12-07 20:41] joshnuss commented on #15
Hey Richard!

Can you try running the demo page on localhost? I think it's because GooglePay/ApplePay require the TLD be `localhost` for test-mode. Should work find for production mode (assuming the domain is registered with Apple)

[2021-12-07 20:43] rchrdnsh commented on #15
oh, ok, I'll try to do that today and let you know :-)

[2021-12-07 21:06] rchrdnsh commented on #15
ok, trying to get it up and running and I am currently getting the following error, which I do not understand:

[code]

...not sure what to change, but here is the current code that I have basically copied and pasted from your example:

[code]

...and:

[code]

...and I copied my test keys into my .env file and am running `dotenv 10.0.0` as a dependency...

[2021-12-07 21:17] joshnuss commented on #15
Are you prefixing your `pnpm run dev` command with `dotenv` cli?
Like this: https://github.com/joshnuss/svelte-stripe-js/blob/1d3cd8c90462e1c4908c660c9eb67134ec8331be/package.json#L7

And I think you should run it with the `--http`, ie `pnpm run dev -- --https`

[2021-12-07 21:18] joshnuss commented on #15
Maybe add some `console.log()` to print out the env var to make sure its picking it up.

[code]

[2021-12-07 21:24] rchrdnsh commented on #15
yeah, it's coming back `undefined` for me...

I also was not doing anything at all with dotenv...

also, why is there a p in front of npm??? Is this a new version of npm or something?

[2021-12-07 21:26] rchrdnsh commented on #15
k, lloking at your `package.json` and you have `dotenv-cli` in you dev deps instead `dotenv` in your deps...also, a bunch of commends...this is probably where I am a bit lost, lol :-)

[2021-12-07 21:32] joshnuss commented on #15
`pnpm` is an alternative to `npm`, it's is a bit faster, but either would work.

You'll need to install `dotenv-cli` for the cli version of `dotenv`.

By prefixed your `svelte-kit dev` with the `dotenv` command, it will load all the variables in your `.env` file before executing the command `svelte-kit dev`.

It's not needed in production, because your host (vercel, etc..) will be setting the envi

[2021-12-07 21:51] rchrdnsh commented on #15
hmmmm...so, I did this in my package.json:

[code]

and then I run this command: `npm run dev -- --https`

and I get this in chrome:

<img width="762" alt="Screen Shot 2021-12-07 at 1 50 55 PM" src="https://user-images.githubusercontent.com/7884263/145111595-5ee0475f-cf47-4757-9949-583490b4d25e.png">

see anything I might be missing?

[2021-12-07 22:09] joshnuss commented on #15
Are you using `http://localhost` or `https://localhost`

When passing `--https` it means it will generate a certificate and run on `https://`

All this should be in the docs, so it's good you're doing a run through

[2021-12-07 22:25] rchrdnsh commented on #15
da heck??? so, I explicitly types in https and got......this?!?!?!??

<img width="991" alt="Screen Shot 2021-12-07 at 2 23 55 PM" src="https://user-images.githubusercontent.com/7884263/145115346-80d748f3-271b-40ef-a9fd-e1b0039d1e6a.png">

ummmmm...any thoughts? XD

[2021-12-07 22:29] rchrdnsh commented on #15
hmmmm...so i found a way to click through to the stripe page i'm building, but still same errors.... secret keys in kit seem kinda tough...le sigh...

[2021-12-07 22:29] joshnuss commented on #15
oh, maybe you need to add the vite extension to generate an SSL certificate

[code]

then add the plugin to your `svelte.config.js`

[code]

Also, you should bump `svelte-stripe-js` to `0.0.9` to get the `<PaymentElement/>` component

[2021-12-07 22:32] joshnuss commented on #15
I would break the problem down:

 you can eliminate svelte-kit, and just test that dotenv is working

[code]

That will open the node console, then run `process.env.STRIPE_SECRET_KEY` to see if it's there

[2021-12-07 22:34] joshnuss commented on #15
Also, check the var name in your .env, if you copied it from the docs there was a typo.
The two keys should be:

[code]

[2021-12-08 00:48] rchrdnsh commented on #15
AHHHHHHHHHHHHHHHHHHH!!!!
.
I DID EVERYTHING AND NOTHING WAS WORKING AND I WAS LOSING MY MIND AHHHHH!!!
.
.
.
.
.
.

...and it was the typo....
.
.
.
.
.
😑
.
.
.
.
.
😅😂🤣
.
.
.
.
.
yay :-)

Thank you very much for your help and patience Josh XD

[2021-12-08 00:52] rchrdnsh commented on #15
ok, now to work on the apple and google pay buttons showing up and changing the theme :-)

[2021-12-08 01:02] rchrdnsh commented on #15
Huzzzzaaaahhhhh!!!!
<img width="506" alt="Screen Shot 2021-12-07 at 5 01 55 PM" src="https://user-images.githubusercontent.com/7884263/145129815-fed181ba-80c7-46c1-9efd-533a27d5b4f7.png">

[2021-12-08 01:24] joshnuss commented on #15
Ahh, nice! Glad we tracked it down.
And thanks for testing the docs. Much appreciated!

I see it's not showing GooglePay/ApplePay.. are you on Safari or Chrome? Do you have GooglePay / ApplyPay enabled?

To change the theme:

[code]

[2021-12-08 01:35] rchrdnsh commented on #15
Yeah, got the theme working...will work on making custom themes next...

As far as resting the Apple Pay button, I was using safari with Apple Pay enabled, so...you know...I dunno 🤷🏼‍♂️

[2021-12-08 01:50] joshnuss commented on #15
I can confirm GooglePay works in test-mode with https://localhost, but I don't have any Apple devices to test ApplePay.

According to this article: https://clementsauvage.medium.com/testing-apple-pay-on-the-web-with-stripe-99499427e147

So the issue looks like it's with the certificate, you would need a real certificate to test in localhost.

It might be easier to just push the app to a free host

[2021-12-08 02:29] rchrdnsh commented on #15
hmmmmm...k, gonna research this a bit more then, thanks :-)

[2021-12-08 02:44] rchrdnsh commented on #15
ooooh, how do i pass in the variables?

[2021-12-08 02:45] rchrdnsh commented on #15
I can confirm that google pay is working for me as well, so that is good :-)

[2021-12-08 02:53] joshnuss commented on #15
Which variables you referring to?

[2021-12-08 04:40] rchrdnsh commented on #15
apologies, the variables for custom theming in the docs from this page:

https://stripe.com/docs/stripe-js/appearance-api

[2021-12-08 10:12] joshnuss commented on #15
oh, i see,

`<PaymentElement>` accepts [`variables` as a prop](https://github.com/joshnuss/svelte-stripe-js/blob/466ba44f2cf9d974a0dc43ccc049553675486696/src/lib/PaymentElement.svelte#L8), example:

[code]

[2021-12-09 02:10] rchrdnsh commented on #15
I was looking at your `PaymentElement` component and it looks like you might need to add the `rules` to it here:

[code]

...or something along those lines, maybe?

[2021-12-09 02:12] joshnuss commented on #15
Yep, exactly!

Fixed in 4d13eab9d296b3a389ec38397083bdb7137369d7,
Bump your version of `svelte-stripe-js` to `0.0.10`

[2021-12-09 02:13] rchrdnsh commented on #15
oh, noyce! thank you :-)

[2021-12-09 02:22] joshnuss commented on #15
Welcome! Thanks again for test driving it.

And LMK if find any other issues. Once this issue closes I can probably safely bump the version to `0.1`

[2021-12-09 17:57] rchrdnsh commented on #15
hmmmm...just found something else...trying to switch themes, and my first attempt...not so worked :-)

I tried this:

[code]
...so should that have worked? Could it work in the future? Is there a different and/or better way to switch themes in your estimation?

Thank you in advance...again :-)

[2021-12-09 18:45] joshnuss commented on #15
It's because the element is created in `onMount()`, so it uses the options that were initially set.

There should be a reactive statement that detects if options change (variables, rules, theme, or label) and update the element.
Do you want to open a PR for this? or I can handle it in a couple days

[2021-12-14 02:42] joshnuss commented on #15
Hi Richard,

Looked into this a bit.

Stripe's elements API lets us set styling when the component is mounted. To change the style after mounting, you'd need to re-create a new set of components with the new style.

The challenge is what to do if those inputs contain a value (eg someone starts typing their card number, and switches to dark mode), if this library automatically recreates the compone

[2021-12-18 00:41] northkode opened #17 "Document how styling works"
It seems there is no default styles..
How do we inject the styles or configs for svelte?

![image](https://user-images.githubusercontent.com/6988083/146622795-ecdbdd36-ce62-42be-8f59-7766a2376322.png)

[2021-12-18 00:43] joshnuss commented on #17
Hi @northkode,

Which component are you using? `<Card/>`?

I think I need to add info about styling to the docs site.

[2021-12-18 00:46] joshnuss commented on #15
Hi @rchrdnsh,

Let me know your thoughts about this one :slightly_smiling_face:

[2021-12-18 00:50] northkode commented on #17
Hey there, I'm using
<CardNumber />
<CardExpiry />
<CardCvc />

Also i'm having issues with the Payment Element.. but i'm trying to work my way through the docs.

[2021-12-18 01:00] joshnuss commented on #17
For styling those components, take a look at this example:
https://github.com/joshnuss/svelte-stripe-js/blob/main/src/routes/examples/credit-card/index.svelte

All those components accept a `classes` and `style` props. See options for [classes](https://stripe.com/docs/js/elements_object/create_element?type=card#elements_create-options-classes).

A general approach is to add a "base" class:, ie `<C

[2021-12-18 01:16] northkode commented on #17
Ok Sounds good.. i think i see something missin with the payment element.. it accepts an option param where we can pass fields in to control what is shown.. it looks like you dont allow that to be send in via the mount function, that eventually calls elements.create('type', options)

![image](https://user-images.githubusercontent.com/6988083/146624063-495871e1-9648-40d8-a987-581a93a5dc60.png)

[2021-12-18 01:19] joshnuss commented on #17
I think in the case of PaymentElement those options are passed when calling `stripe.elements()`
https://github.com/joshnuss/svelte-stripe-js/blob/58b4d1c28f2c9307d2346150efeed7737b6e331a/src/lib/PaymentElement.svelte#L11

[2021-12-18 01:26] northkode commented on #17
I updated your component locally.. to support the feature and now the options work

for example

[code]

And now my form is read only.. so if possible it would be good if you could make this upgrade official :D

[2021-12-18 01:29] joshnuss commented on #17
Ah, I see what you mean now. The component should be taking more options.

I'll open a PR

On Fri., Dec. 17, 2021, 8:26 p.m. northkode, ***@***.***>
wrote:

[2021-12-18 01:30] northkode commented on #17
Awesome Thanks!
Appreciate the work on this. Definitely saved me some time.

[2021-12-18 01:38] northkode commented on #17
I have a few more suggestions.. maybe ill try and submit a pr..
Things like
changing the `let element` to a export
so we can bind on it and listen to events on the stripe element, like "change" events
pass $$props into the component so i can style the wrapper div of the Payment Element etc.

[2021-12-19 12:28] joshnuss commented on #17
Hi,

I deployed a new version `0.0.12` that adds an `options` prop to `<PaymentElement/>`.

For `<PaymentElement/>` and `confirmPayment()`, have a look at this example code:
https://github.com/joshnuss/svelte-stripe-js/tree/main/src/routes/examples/payment-element

[2021-12-21 16:00] joshnuss commented on #15
Hi Richard,

I think the solution I suggested should work. I'm closing the issue for now. Feel free to re-open or open a new issue if you find anything else.

And thanks for reporting these issues! It's improved the docs and code quite a bit and makes it easier for the next person to pick this up. :v:

[2021-12-21 16:00] #15 closed

[2022-01-21 05:37] rchrdnsh opened #18 "kit 234 might not work with mkcert anymore..."
Here is a thread on the svelte discord server about the issue for you information...not sure how to proceed with setting up https anymore for testing in dev environments...

https://discord.com/channels/457912077277855764/933925500575940648

and happy new year! XD

[2022-01-21 06:29] joshnuss commented on #18
I opened an issue with svelte-kit related to https option:
https://github.com/sveltejs/kit/issues/3479

[2022-01-21 17:27] rchrdnsh commented on #18
Oh, great, glad you're up on it :-)

[2022-01-29 23:33] rchrdnsh commented on #18
yay, it's all working again...let's close this out then :-)

[2022-01-29 23:33] #18 closed

[2022-01-29 23:43] rchrdnsh opened #19 "How to retrieve/input/use products and prices from stripe..."
So,

Trying to read through the stripe docs but unclear about how I might go about retrieving/inputting/using stripe products and prices using SvelteKit. Just curious if you have thought about this at all and/or have any solutions to this kind of thing...it's one thing to manually add one price point, but another thing to integrate with products and prices from the stripe dashboard/account...

Tha

[2022-01-30 00:39] rchrdnsh commented on #19
Starting by trying to do something like this, based on the API docs I've been able to find:

[code]

...dunno if any of this will work or not...

If you have any thoughts or experience with this, please share :-)

[2022-01-30 01:58] joshnuss commented on #19
Hey Richard,

As long as you use the product as part of the payment intent it will work.

To attach a product to a payment intent, first create an invoice. [Example](https://stackoverflow.com/a/68442645/306520).

Tip: if the `/products` endpoint depends on calling Stripe, it could get rate limited when there's tons of traffic. So maybe cache the results for a few minutes?

[2022-01-30 02:49] rchrdnsh commented on #19
hmmmm...

I'm only trying to offer people different donations amounts to choose from...maybe there is a simpler way...

This is is the UI:

<img width="807" alt="Screen Shot 2022-01-29 at 6 47 21 PM" src="https://user-images.githubusercontent.com/7884263/151684770-b36507a7-3d88-4475-aa87-647ebee78277.png">

...gonna need to work through some more docs, I guess...

[2022-01-30 03:02] joshnuss commented on #19
I see, so maybe using a product isn't needed here.

The payment intent could be created based an amount. I would create an endpoint that:

1. takes `amount` as a param
2. creates the payment intent using the provided `amount`
3. returns the payment intent's client secret

Then you can pass that client secret to the `<PaymentElement/>`

It's very similar to [this example](https://svelte-stripe-js.v

[2022-01-30 18:15] rchrdnsh commented on #19
You know, I'm realizing that I simply don't understand endpoints and loading, etc. in svelte kit and in node and on servers in general...I just don't know how to do any of this and make it work because I don't understand what's going on, as I have 0 experience with any of it.

for example, I simply don't know how to add the params thing in here to make it work:

[code]
...none of these seem to wor

[2022-01-31 12:35] joshnuss commented on #19
Oh, I may have given you incorrect advice, the endpoint should get the `amount` from `body` instead of `params`.
See: https://kit.svelte.dev/docs#routing-endpoints-body-parsing

If you'd like some help, I'd be happy to jump on a Zoom and help figure it out.

[2022-02-11 21:32] joshnuss commented on #19
Hey Richard!

Just checking in to see if this is still and issue or have you been able to resolve it?

[2022-02-17 08:29] rupesh-raj opened #21 "CORS issue with https://js.stripe.com"
Hi,
I am trying to use this library on a sapper project. I have created a bare implementation of PaymentElemet component and trying to do a payment.
I am running into the issue where I am getting the following error

[code]

[code]

My understanding for this is that js.stripe.com based library is trying to make a call to r.stripe.com which fails as they dont allow my origin.

For reference this is

[2022-02-17 12:16] rupesh-raj opened #22 "WebsSite Broken when trying to use PaymentElement example"
Upon trying to view the PaymentElement example on https://www.sveltestripe.com/examples/payment-element I found multitude of errors on Console relating to CORS.

![Screenshot 2022-02-17 17:43:14](https://user-images.githubusercontent.com/70939835/154479837-b75417bd-172b-4d33-a72d-55ff084a1770.png)

[2022-02-17 14:40] joshnuss commented on #21
I believe this is a duplicate of #22, so closing.

@rupesh-raj please re-open if that's not the case.

[2022-02-17 14:40] #21 closed

[2022-02-18 06:34] rupesh-raj commented on #22
@joshnuss I tested and confirm payment works fine.

[2022-02-18 06:34] #22 closed

[2022-02-27 05:21] mylastore opened #23 "Your example for credit card "cardElement" is not declared"
How to declare cardElement?

[2022-02-27 05:32] joshnuss commented on #23
Hi @mylastore!

You can find an example of declaring a `cardElement` here:
https://github.com/joshnuss/svelte-stripe-js/blob/dfe3338fa32d5530f8a274e21d5dc73c4eca3823/src/routes/examples/credit-card/index.svelte#L26

Closing this issue, since I think it answers the question. Feel free to re-open if you have further questions about this

[2022-02-27 05:32] #23 closed

[2022-02-27 05:35] joshnuss commented on #19
Hi Richard,

I think my explanation above answers the question. Feel free to re-open the issue if you have further questions. Or post a question in the [discussions](https://github.com/joshnuss/svelte-stripe-js/discussions)

[2022-02-27 05:35] #19 closed

[2022-03-02 23:06] LucasRitossa opened #25 "Passing metadata into stripe paymentIntent"
Hello, I followed the docs until I ran into this issue with the paymentIntent flow. I need the ability to pass data from a svelte store into my paymentIntent post request, but this is not possible in a svelte module context. Is there any way to achieve this?
[code]

[2022-03-03 00:55] joshnuss commented on #25
Hi Lucas!

Creating the payment intent can be done outside the module context too. For example, during `onMount`, or during an event like `on:click`.

Let me know if that solves it

[2022-03-03 18:44] LucasRitossa commented on #25
Hey, thanks for the response.
I solved my issue using the `onMount()` function. It might be worth documenting the paymentIntent endpoint must be requested before the `loadStripe()` function is declared.

Thanks!

[2022-03-03 18:45] #25 closed

[2022-03-03 18:53] joshnuss commented on #25
Thanks for the update, glad you got it working.

I think it's ok if `loadStripe` is called first. The payment intent can be created after user enters payment info, for example when the user clicks the "Pay"/"Checkout" button

[2022-03-03 19:23] LucasRitossa commented on #25
Ah, I only mentioned that because in my testing `loadStripe` needed to be called after the paymentIntent, or else the stripe components would error out.

[2022-03-03 19:35] joshnuss commented on #25
The Stripe components do need access to the `stripe` instance, but the payment intent can be created later.

You may have to conditionally hide the Stripe components until you have a `stripe` instance though, ie

[code]

[2022-03-06 03:36] joshnuss commented on #25
[I've updated the docs](d6b7da7d6e3600b9d3213ee955436cdd886f33be) to create the Payment Intent outside `<script context="module">`.  I believe it better illustrates how it should work in a real app.

Thanks for the feedback @LucasRitossa :raised_hands:

[2022-03-07 12:54] LucasRitossa commented on #25
Awesome, that seems like a great change. Thanks for all the help and great library 👍

[2022-03-08 16:19] ZetiMente opened #26 "svelte-stripe will not build on vite v2.8.6 / sveltekit 294"
Hi,

I tried to run the following code:

<script  >
import { Container } from  'svelte-stripe';

let stripe = null;

</script>

However, on pnpm build - svelte-kit build --verbose

I receive the following error:

  [vite:resolve] Failed to resolve entry for package "svelte-stripe". The package may have incorrect main/module/exports specified in its package.json: Failed to resolve entry for package

[2022-03-09 04:04] joshnuss commented on #26
Hi @ZetiMente,

Thanks for reporting the issue.

I've investigated and there was a problem with how the npm package was published for `v0.0.13`.

Can you bump your project to `v0.0.16`, that should fix the issue. Can you try that and report back if it is solved?

[2022-03-13 22:42] joshnuss commented on #26
@ZetiMente let me know if this still an issue or if I can close it. 🙏

[2022-03-15 23:28] ZetiMente commented on #26
@joshnuss Hi, yes I was able to build. Thank for fixing it!

[2022-03-16 00:23] joshnuss commented on #26
Awesome!

Feel free to open an issue if you run into anything else.

[2022-03-16 00:23] #26 closed

[2022-03-27 08:46] lgs opened #30 "Add example of subscriptions"
Hey @joshnuss great work so far :+1:

It should be great having [Subscriptions API](https://stripe.com/docs/api/subscriptions) implemented, and showed as [Exampes](https://www.sveltestripe.com/#examples).

Here it is another [Stripe Subscriptions on Svelte](https://github.com/srmullen/sveltekit-stripe) implementation to compare to.

[2022-04-12 16:31] Scott-Fischer opened #32 "Expose loading option on payment element"
Stripe exposes an option to change the appearance of the loading state while the payment element is initialized. This option is missing from the PaymentElement svelte component.

I opened a PR to address this #31

[2022-04-12 18:18] joshnuss commented on #32
It's merged.

Thanks for providing a PR! Much appreciated

[2022-04-12 18:18] #32 closed

[2022-04-13 17:32] Scott-Fischer opened #33 "Unable to update payment element theme with a remount"
I noticed that your recommended way to update the CSS of the Payment Element  (discussed [here](https://github.com/joshnuss/svelte-stripe/issues/15#issuecomment-993101996))

I'm actually totally okay with destroying the user input state, however, I'm having an interesting issue when trying to unmount and remount with the key directive. Whenever my watched value changes, I'm seeing `v3:1 Uncaught (

[2022-04-13 17:51] joshnuss commented on #33
Interesting, maybe the unmounting in svelte should also destroy the component at the same time? Not sure, I'll try it out and get back to you.

[2022-05-19 07:26] mike-hogan opened #42 "Seems legal policies are not shown?"
I configured legal policies for my account on stripe as per https://stripe.com/docs/payments/checkout/customization#configure-support-and-legal-policies , and I turned on "Display agreement to legal terms" in https://dashboard.stripe.com/settings/checkout .

I expected to see a checkbox forcing a customer to agree to terms before clicking pay, but that didn't happen.

Might be me as this is my fir

[2022-05-19 07:36] mike-hogan commented on #42
I am using PaymentElement like this:

[code]

[2022-05-19 16:26] joshnuss commented on #42
Hey @mike-hogan,

`<PaymentElement>` and the other components provided by this repo use Stripe Elements. It's different than using Stripe Checkout.

With Stripe Checkout the entire payment flow is handled outside your site. With Stripe Elements the payment flow is handled on your site and you would have to create your own UI to display terms and conditions.

If you'd like to use Stripe Checkout, t

[2022-05-19 16:26] #42 closed

[2022-07-07 20:26] fenwikk opened #44 "Add payment with Link"
Saw [this](https://stripe.com/docs/payments/link/accept-a-payment) and thought it would be neat. Checked both the docs and some of the source code but didnt find any mentions of it being implemented (not so thoroughly though so excuse me if its already implemented). This library seems to have most payment methods so i think the very customer convinient Link method would be great to have

[2022-07-09 01:04] joshnuss commented on #44
Hi @fenwikk,

Thanks for the suggestion! Definitely something I'd like to add.
I hope to get to it in the next few weeks and will update this issue.

[2022-07-15 16:47] rchrdnsh opened #46 "Dealing with stripe products..."
Hi Josh!

Sooooo, coming back around to this...I have created products using the Stripe Dashboard and would like to access them in svelte-stripe. Dunno where to start or what to do to make that a thing...

Thinking about it a bit I suppose a couple options would be to grab them at runtime on a users device, or grab them at build time so that API call would not be necessary...I'm thinking the secon

[2022-07-15 17:30] joshnuss commented on #46
Hi Richard!

There are 2 things to consider:

1. Before you [create the payment intent](https://stripe.com/docs/api/payment_intents/create), [create an invoice with price ids](https://stripe.com/docs/api/invoices/create). Then pass the `invoice` option when creating the payment intent.
2. Choose whether to call the Stripe Product API at runtime (there are [rate limits](https://stripe.com/docs/rate

[2022-08-08 15:26] simplegram-io opened #47 "id attribute on card elements"
It would be great if one could add an _id_ to the CardNumber, CardExpiry and CardCvc elements so labels work with them.

Is that possible or do stripe elements prevent that?

[2022-08-11 16:31] joshnuss commented on #47
Hi @simplegram-io,

I don't believe you can set the `id` on those inputs, likely because they are inside an iframe. So targeting them from a label in different frame probably wouldn't work.

Good news is that labels are supported by Stripe Elements. You should be able to set the `labels` prop on the `<Elements/>` component.

Feel free to re-open if that doesn't work or if you have any more questio

[2022-08-11 16:31] #47 closed

[2022-09-06 12:54] hex commented on #17
Is there an `options` prop to `<PaymentElement/>`? How can I achieve this with svelte-stripe?

[code]

[2022-09-08 04:32] joshnuss commented on #17
@hex looks like those options are missing. I will add them.

Will let you know when it's in. Thanks for reporting.

[2022-09-15 06:36] MelodicCrypter opened #48 "client secret is not updated when creating new intent on the fly (on change)"
Details:
- Has 2 products, monthly and yearly subscriptions

Flow:
1. On load, i would create a default subscription intent (monthly) then pass the clientSecret to the `<Elements {stripe} clientSecret={userClientSecret} />`
2. I test pay it, and it is successful
3. But, when I change the payment terms like to yearly, coz users has the right to change it either to monthly or yearly in the payment p

[2022-09-19 15:03] iandoesallthethings opened #49 "Styling: Classes can't reach the font of the input."
I'm using tailwind and we have a bunch of custom utility classes set up for our design system. I'm trying to send those classes into the stripe elements, but it looks as though I can only reach the text inside the input using the style prop. Classes (even non-tailwind ones specified with global don't affect the text at all.

[code]

[2022-09-19 16:44] joshnuss commented on #49
Hi @iandoesallthethings,

Classes should work, see example here:
https://github.com/joshnuss/svelte-stripe/blob/main/src/routes/examples/credit-card/index.svelte#L72

Is it because you have a spelling error? `.strip-input` is missing an `e`

As for Tailwind, I don't think they would work because, see answer here:
https://stackoverflow.com/a/64420507

I think it's because the inputs are inside an i

[2022-09-19 16:44] #49 closed

[2022-10-02 20:01] joshnuss commented on #30
I plan to create a demo after SvelteKit reaches 1.0.

In the meantime, if anyone is curious how to do it, here is the rough idea:

1. On the server side, create the customer object.
2. On the server side, create the subscription object, attaching the customer and price_id.
3. If you set expand: ["latest_invoice.payment_intent"], it'll return the payment intent.
4. Then you can use the payment inte

[2022-11-28 15:52] coin-au-carre commented on #30
The proposed steps seem not working for me. When creating the subscription, Stripe says:

It seems that a payment must be proceed already in order to create the subscription.

[2022-11-30 19:25] joshnuss commented on #30
Thanks @coin-au-carre, glad you figured it out, and thanks for sharing the link.